html {
  font-size: 16px;
}

body {
  background-color: var(--edw-core-bg);
  color: var(--edw-core-fg);
  font-family: "Google Sans Flex", sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#edw {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#edw-app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#edw-app-core {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#edw-app-main {
  overflow-y: auto;
  display: block;
  height: calc(100vh - var(--edw-app-header-height, 64px));
}

.edw-display {
  background-color: var(--edw-card-bg);
  background-position: center;
  background-size: cover;
  border-radius: 32px;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 8px;
  transition: box-shadow 0.2s, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }

  &-overlay {
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
  }

  &-content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;

    &::before {
      content: "";
      background-color: var(--edw-card-bg);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
    }

    &-image {
      background-position: center;
      background-size: cover;
      border-radius: 24px;
      overflow: hidden;
      width: 100%;
      height: 300px;
      position: relative;
    }

    &-info {
      position: relative;
      padding: 16px 0;

      h3 {
        font-family: "Uncial Antiqua", serif;
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
