html {
  font-size: 16px;
}

body {
  background-color: var(--edw-core-bg);
  color: var(--edw-core-fg);
  font-family: "Google Sans Flex", sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#edw {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#edw-app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#edw-app-core {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#edw-app-main {
  overflow-y: auto;
  display: block;
  height: calc(100vh - var(--edw-app-header-height, 64px));
}
