* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Uncial Antique", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  &:not(:disabled) {
    cursor: pointer;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding: 0;
  margin: 0;

  th, td {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

textarea {
  resize: vertical;
}
