:root {
  --edw-default-primary: #2a6b52;
  --edw-default-primary-fg: #ffffff;

  --edw-core-bg: #0e1a14;
  --edw-core-fg: #ACB5AF;
  --edw-core-divider: #122119;

  --edw-c-primary: var(--edw-default-primary);
  --edw-c-primary-fg: var(--edw-default-primary-fg);

  --edw-c-danger: #e25353;
  --edw-c-warning: #dea125;
  --edw-c-success: #129929;

  --edw-app-header-bg: #0E120F;
  --edw-app-header-fg: #ACB5AF;
  --edw-app-header-height: 48px;

  --edw-app-sidebar-bg: #0E120F;
  --edw-app-sidebar-fg: #ACB5AF;
  --edw-app-sidebar-bg-subtle: #131814;
  --edw-app-sidebar-width: 48px;
  --edw-app-sidebar-width-open: 220px;

  --edw-popper-bg: #0c100d;
  --edw-popper-fg: #ACB5AF;
  --edw-popper-item-bg: #121613;
  --edw-popper-item-fg: #a9acb6;

  --edw-card-bg: #0e1511;
  --edw-card-fg: #ACB5AF;
  --edw-card-subtle-bg: #111612;
  --edw-card-subtle-fg: #ACB5AF;
  --edw-card-item-bg: #101915;
  --edw-card-item-fg: #ACB5AF;
  --edw-card-divider: #141c17;

  --edw-radius: 6px;
}
