:root {
  --edw-default-primary: #2a6b52;
  --edw-default-primary-fg: #ffffff;

  --edw-core-bg: #0e1a14;
  --edw-core-fg: #ACB5AF;

  --edw-app-header-bg: #0E120F;
  --edw-app-header-fg: #ACB5AF;

  --edw-app-sidebar-bg: #0E120F;
  --edw-app-sidebar-fg: #ACB5AF;
}
