.edw-alert {
  background-color: color-mix(in srgb, var(--edw-core-fg) 10%, transparent);
  border: 1px solid color-mix(in srgb, var(--edw-core-fg) 10%, transparent);
  border-radius: var(--edw-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px;

  &-variant-default {
    background-color: color-mix(in srgb, var(--edw-core-fg) 10%, transparent);
    border-color: color-mix(in srgb, var(--edw-core-fg) 20%, transparent);
    color: var(--edw-core-fg);
  }

  &-variant-primary {
    background-color: color-mix(in srgb, var(--edw-c-primary) 10%, transparent);
    border-color: color-mix(in srgb, var(--edw-c-primary) 20%, transparent);
    color: var(--edw-c-primary);
  }

  &-variant-danger {
    background-color: color-mix(in srgb, var(--edw-c-danger) 10%, transparent);
    border-color: color-mix(in srgb, var(--edw-c-danger) 20%, transparent);
    color: var(--edw-c-danger);
  }

  &-variant-warning {
    background-color: color-mix(in srgb, var(--edw-c-warning) 10%, transparent);
    border-color: color-mix(in srgb, var(--edw-c-warning) 20%, transparent);
    color: var(--edw-c-warning);
  }

  &-variant-success {
    background-color: color-mix(in srgb, var(--edw-c-success) 10%, transparent);
    border-color: color-mix(in srgb, var(--edw-c-success) 20%, transparent);
    color: var(--edw-c-success);
  }

  &-icon {
    height: 24px;
    width: 24px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-title {
      font-size: 1.1rem;
      font-weight: 600;
    }

    &-message {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}