.edw-card {
  background-color: var(--edw-card-bg);
  border-radius: var(--edw-radius);
  color: var(--edw-card-fg);
  padding: 16px;

  &-nop {
    padding: 0;
  }

  &-fh {
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 100%;
  }
}